
.accent--text {
    color: #0081ff !important;
    caret-color: #0060ff !important;
}

.theme--dark.application {
    background: #19232b;
}

.v-dialog .theme--dark.v-sheet {
    background-color: #19222b;
    border-color: #19222b;
    color: #fff;
}

.v-dialog .theme--dark.v-subheader {
    background: #0a5098;
}

.v-dialog .theme--dark.v-list {
    border:0;
}

.v-toolbar .title-logo {
    font-size: 24px;
    font-family: 'Righteous', cursive;
}

.v-toolbar .title-logo i {
    font-size: 33px;
    line-height: 30px;
}

.v-toolbar .v-btn .v-btn__content i.v-icon {
    color: #5fa4f1;
}

.v-navigation-drawer>.v-list .v-list__tile.v-list__tile--active.primary--text {
    background: #636363;
    color: #ffffff;
}

.v-navigation-drawer>.v-list .v-list__tile.v-list__tile--active.primary--text .v-list__tile__title, .v-navigation-drawer>.v-list .v-list__tile.v-list__tile--active.primary--text .v-icon {
    color: #ffffff;
}

.theme--dark  .v-list__group__header.v-list__group__header {
    /* color: #47b0ff; */
    text-transform: uppercase; 
}
.theme--dark .v-list__group.v-list__group--active {
    background-color: #3c3c3c;
}

.v-item-group.theme--dark.v-btn-toggle {
    background: transparent
}

.v-text-field__slot input{
    text-align: center;
    font-size: 14px;
    font-size: 16px;
    background: #232323;
    border-radius: 5px;    top: 2px;    position: relative;
}

.v-text-field>.v-input__control>.v-input__slot:before {
    border-style: none !important;
}

.v-list__group__items .v-list__tile {
    height: 80px;
}

.theme--dark.v-subheader {
    background: #232323;
}

.theme--dark.v-subheader.actions {
    background: #024771;
}

.theme--dark.v-subheader.effects {
    background: #380101;
    background: #b33636;
}

.v-list__tile.v-list__tile--link.theme--dark .v-list__tile__action .v-icon.bluecheck{
    font-size: 33px;
    color: #228cff;    color: #ffe452;
}


.theme--dark.v-sheet.moodselect {
    height: 55px;
}

.theme--dark.v-sheet.moodselect.active,.theme--dark.v-sheet.moodselect:hover {
    background-color: #0c0c0c;
    border-color: #000000;
}

.theme--dark.v-btn:not(.v-btn--icon):not(.v-btn--flat).v-btn.list-check {
    min-width: 36px;
    border-radius: 6px;
    background-color:transparent;
}

.theme--dark.v-icon.face {
    color: rgb(117, 117, 117);
}

.active .theme--dark.v-icon.face1,.moodselect:hover .theme--dark.v-icon.face1 {
    color: #53b32e;
}
.active .theme--dark.v-icon.face2,.moodselect:hover .theme--dark.v-icon.face2 {
    color: rgb(175, 179, 46);
}
.active .theme--dark.v-icon.face3,.moodselect:hover .theme--dark.v-icon.face3 {
    color: rgb(179, 109, 46);
}
.active .theme--dark.v-icon.face4,.moodselect:hover .theme--dark.v-icon.face4 {
    color: rgb(187, 54, 54);
}



.theme--dark.v-list.actions>div {
    border-bottom: 1px solid #243848;

    
}

.theme--dark.v-list.effects>div {
    border-bottom: 1px solid #3e2a2a;    border-bottom: 1px solid #b33636;
}

/* .theme--dark.v-list.actions {
    background: #19242b;
} */

.theme--dark.v-list.effects {
    background: #291c1c;
    background: #19222b;
    border: 1px solid #b33636;
    border: 1px solid #692020;
}

/* .theme--dark .v-list__group__header.v-list__group__header {
    background: #4a4a4a;
} */

.v-subheader--inset {
    margin-left:0
}

.v-list__group__header .v-list__tile__sub-title {
    font-weight: 300;
    font-size: 11px;
    color: hsla(0, 0%, 79%, 0.7);
}

.v-list .v-list__tile__sub-title {
    font-weight: 300;
}

.v-list__group__header .v-list__tile {
    height: 65px;
}

.theme--dark.v-list .v-list__tile--highlighted, .theme--dark.v-list .v-list__tile--link:hover {
    background:inherit;
    cursor: default;
}

.v-list {
    padding:0;
}

.v-btn-toggle--selected {
    box-shadow: none
}

#lifepro-logo {
    position: relative;
    z-index: 9999999;
    height: 33px;
    top: 6px;
}




.theme--dark.v-list {
    border: 1px solid #4989e9;
    border: 1px solid #2a518a;
}

.theme--dark.v-list.actions>div {
    border-bottom: 1px solid #4989e9;
}


.theme--dark.v-subheader.actions {
    background: #4989e9;
    /* color: #4989e9; */
}

.theme--dark.v-list {
    background: #19232b;
    /* color: #4989e9; */
}  







.theme--dark .v-list__group.v-list__group--active {
    background-color: #32475d;
}


.theme--dark.v-list .v-list__group__header:hover {
    background: hsl(211, 26%, 19%);
}

.theme--dark.v-list .v-list__group__header.v-list__group__header--active:hover {
    background:inherit
}

.theme--dark .v-list__group.v-list__group--active {
    background-color: #273642;
}

.v-list__group__header .v-list__tile__title {
    color: #84c2ff;
    font-weight: 300;
}

.v-list__group__header .v-list__tile {
    padding: 0 0;
}

.actions .v-list__group__header .theme--dark.v-icon {
    color: #718aaf;
}

.effects .v-list__group__header .v-list__tile__title,.effects .v-list__group__header .theme--dark.v-icon {
    color: #ff8484;
}



.v-sheet.moodselect {
    background: #4989e9;
}

.v-sheet.moodselect .theme--dark.v-icon.face {
    color: #164892;
}

.v-sheet.moodselect .face_title {
    display:none;
}

.v-sheet.moodselect.active .face_title,.v-sheet.moodselect:hover .face_title {
    display:inline-block;
}

.v-sheet.moodselect.face_good.active,.v-sheet.moodselect.face_good:hover {
    border-color: rgb(89, 175, 46);
    background: rgb(89, 175, 46);
}

.v-sheet.moodselect.active.face_good .theme--dark.v-icon.face,.v-sheet.moodselect.face_good:hover .theme--dark.v-icon.face {
    color: #235d0d;
}

.v-sheet.moodselect.face_good .face_title{
    color: #235d0d;
    font-weight: bold;
    text-transform: uppercase;
}

.v-sheet.moodselect.face_okay.active,.v-sheet.moodselect.face_okay:hover {
    border-color: rgb(221, 226, 44);
    background: rgb(221, 226, 44);
    background: rgb(180, 210, 255);
}

.v-sheet.moodselect.active.face_okay .theme--dark.v-icon.face,.v-sheet.moodselect.face_okay:hover .theme--dark.v-icon.face {
    color: rgb(108, 111, 21);
    color: rgb(76, 112, 167);
}

.v-sheet.moodselect.face_okay .face_title{
    color: rgb(108, 111, 21);
    color: rgb(76, 112, 167);
    font-weight: bold;
    text-transform: uppercase;
}

.v-sheet.moodselect.face_bad.active,.v-sheet.moodselect.face_bad:hover {
    border-color: rgb(197, 88, 31);
    background: rgb(197, 88, 31);
}

.v-sheet.moodselect.active.face_bad .theme--dark.v-icon.face,.v-sheet.moodselect.face_bad:hover .theme--dark.v-icon.face {
    color: rgb(97, 40, 10);
}

.v-sheet.moodselect.face_bad .face_title{
    color: rgb(97, 40, 10);
    font-weight: bold;
    text-transform: uppercase;
}

.v-sheet.moodselect.face_verybad.active,.v-sheet.moodselect.face_verybad:hover {
    border-color: rgb(175, 39, 39);
    background: rgb(175, 39, 39);
}

.v-sheet.moodselect.active.face_verybad .theme--dark.v-icon.face,.v-sheet.moodselect.face_verybad:hover .theme--dark.v-icon.face {
    color: rgb(84, 10, 10);
}

.v-sheet.moodselect.face_verybad .face_title{
    color: rgb(84, 10, 10);
    font-weight: bold;
    text-transform: uppercase;
}

.v-list__group__items>div {
    border-bottom: 1px solid #3e5363;
}

.v-list__group__items>div:last-child
{
    border-bottom: 0;
}

/* .theme--dark.v-sheet.moodselect.active, .theme--dark.v-sheet.moodselect:hover {
    border-color: rgb(179, 109, 46);
    background: rgb(179, 109, 46);
} */

